@model Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.Controllers.WebConfigAll

@{
    ViewBag.Title = "TestParam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test existencie parametrov web.config</h2>

<h3>Connection strings</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>OK</th>
    </tr>
    <tbody>
        @foreach (var con in Model.ListConnectionStrings)
        {
            <tr>
                <td>@con.NameConfig</td>
                @if (con.ValueConfig == "XXX")
                {
                    <td></td>
                    <td><span class="glyphicon glyphicon-remove" style="color:red; font-weight:bold; font-size:large"></span></td>
                }
                else
                {
                    <td>@con.ValueConfig</td>
                    <td><span class="glyphicon glyphicon-ok" style="color:green; font-weight:bold; font-size:large"></span></td>
                }
            </tr>
        }
    </tbody>
</table>
<hr />

<h3>Settings</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>OK</th>
    </tr>
    <tbody>
        @foreach (var con in Model.ListSettingProperties)
        {
            <tr>
                <td>@con.NameConfig</td>
                @if (con.ValueConfig == "XXX")
                {
                    <td></td>
                    <td><span class="glyphicon glyphicon-remove" style="color:red; font-weight:bold; font-size:large"></span></td>
                }
                else
                {
                    <td>@con.ValueConfig</td>
                    <td><span class="glyphicon glyphicon-ok" style="color:green; font-weight:bold; font-size:large"></span></td>
                }
            </tr>
        }
    </tbody>
</table>