body {
    padding-bottom: 10px;
    font-size: 12px !important;
    /*overflow: hidden;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*position: fixed;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Styly ML*/
/*Assortment*/

/* bootstrap datetime picker*/
.bootstrap-datetimepicker-widget td.day {
    font-size: 14px;
    font-weight:normal;
}

.asrt-supplier-body-cell {
    width: 120px;
    height: 33px !important;
    background-color: white;
    border: 0px solid white !important;
}

.asrt-picker-body-cell {
    width: 110px;
    background-color: white;
}

.asrt-multipic-nonSelected-color {
    color: #a09e9e;
}

    .asrt-multipic-nonSelected-color:hover {
        background-color: #e6e6e6;
        color: #a09e9e;
    }

/* hover over bodyAssortmentDataTable */

#bodyAssortmentDataTable tr:hover .table-actual-assort {
    background-color: #fcf2e4;
}
#bodyAssortmentDataTable tr:hover {
    background-color: #fcf2e4;
}


#bodyAssortmentDataTable tr:hover .asrt-picker-body-cell button {
        background-color: #fcf2e4;
    }

#bodyAssortmentDataTable tr:hover .asrt-picker-body-cell {
        background-color: #fcf2e4;
}

#bodyAssortmentDataTable tr:hover .asrt-picker-body-cell input {
        background-color: #fcf2e4;
    }


.table-actual-assort {
    background-color: #e6ffe6;
    text-align: left;
}


.asrt-filter-item {
    margin-right: 5px;
}


.asrt-input-height {
    /*height: 22px !important;
    vertical-align:  text-bottom !important;
    font-size: 12px !important;*/
    text-align: left !important;
}

.picker-font {
    font-size: 12px !important;
}

/* for editing assortment data table*/
.asrt-visible {
    visibility:visible;
}

.asrt-hidden {
    visibility: hidden;
}

/* od Stana   */

table#AsortmentTable > thead > tr:first-child > td {
    border-top: 2px solid #ddd !important;
}

table#AsortmentTable > thead > tr:first-child > th {
    border-top: 2px solid #ddd !important;
}


.item-header-title {
    display: inline-block;
    width: 80px;
    line-height: 1.1;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* od Stana */

.ui-front {
    z-index: 1800 !important;
}

.competitor-edit-block {
    max-width: 250px;
    min-width: 250px;
}

.table-new-assort-header {
    background-color: lightskyblue;
    /*min-width: 50px;
    max-width: 120px;*/
}

.table-assort-header {
    background-color: #e6f7ff;
    /*min-width: 50px;
    max-width: 120px;*/
}


.table-assort-trash {
    column-span: all;
    column-count: 5;
    border: none !important;
}

.table-before-assort {
    background-color: #ededed;
    text-align: left;
    min-width: 50px;
    max-width: 120px;
}


.table-info-assort {
    background-color: #ededed;
    min-width: 50px;
    max-width: 120px;
}

.table-after-assort {
    border: 0;
    text-align: left;
    background: none;
    min-width: 50px;
    max-width: 120px;
}

.filter-border-assort {
    border: solid 1px rgb(209, 207, 207);
    padding: 10px;
    border-radius: 10px;
}

/* Selectors for table assortment delete */
/* for vendor */
input.asrt-Cell-Strike-Red {
    text-decoration: line-through !important;
    color: red !important;
    cursor: not-allowed !important;
}


/* for date time picker */
.asrt-dateTime-Strike-Red {
    text-decoration: line-through !important;
    color: red !important;
    cursor: not-allowed !important;
}

/* for select pickers */
.asrt-selectPic-Strike-Red {
    text-decoration: line-through !important;
    color: red !important;
    cursor: not-allowed !important;
}

/* for multipicker 
#groupFilter */

.asrt-multi-polozky {
background-color:white !important;
}

#AsortmentTable th {
    padding: 5px !important;
}

.asrt-border-none {
    border: none;
    background-color:white;
    height:33px;
}

table {
    margin-bottom:0px!important;
}


/*Item Prices*/
.btn-padding {
    padding: 3px 7px;
}

.btn-apply {
    margin-top: 20px;
    margin-right: 5px;
    width: 100px;
}

.btn-margin {
    margin-top: 20px;
    margin-right: 5px;
}

.table-ml {
    table-layout: fixed;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 8px;
}

.table-itemprice-header {
    background-color: #e6f7ff;
    min-width: 90px;
    max-width: 90px;
}

.table-psdid-header {
    background-color: #e6f7ff;
    min-width: 90px;
    max-width: 120px;
}

.table-psdid-cell {
    min-width: 90px;
    max-width: 120px;
}

.table-psTitle-header {
    background-color: #e6f7ff;
    min-width: 150px;
    max-width: 300px;
}

.table-psTitle-cell {
    min-width: 150px;
    max-width: 300px;
}

.table-vendor-header {
    background-color: #e6f7ff;
    min-width: 150px;
    max-width: 300px;
}

.table-vendor-cell {
    min-width: 150px;
    max-width: 500px;
}

.table-before-price {
    background-color: #ededed;
    text-align: right;
    min-width: 90px;
    max-width: 90px;
}

.table-actual-price {
    background-color: #e6ffe6;
    text-align: right;
    min-width: 90px;
    max-width: 90px;
}

.table-info-priceCell {
    background-color: #ededed;
    min-width: 90px;
    max-width: 90px;
}

.table-info-price {
    background: none;
    border: 0;
    text-align: right;
    min-width: 90px;
    max-width: 90px;
}

.table-after-price {
    border: 0;
    text-align: left;
    background: none;
    min-width: 50px;
    max-width: 120px;
}

/*Styly LM*/


* {
    margin: 0;
}

html, body {
    height: 90%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
    position: fixed;
    height: 140px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url('Images/footer.jpg');
    background-position: 0 0;
    height: 75px;
    color: white;
    padding-top: 49px;
    background-repeat: repeat-x;
    z-index:100;
}

.push {
    height: 140px;
}

.kurzor-pointer {
    cursor: pointer;
}

.kurzor-default {
    cursor: default;
}

.myTable-Header {
    font-weight: bold;
    background-color: #e0dcdc;
}

.myTable {
    margin-bottom: 0;
}

.bg-selected-cell {
    font-weight: bold;
    background-color: #e0dcdc !important;
}

.bg-ok-cell {
    background-color: #DFF0D8;
}

.bg-alert-cell {
    background-color: #FCF8E3;
}

.bg-error-cell {
    background-color: #F2DEDE;
}

.bg-hover-row {
    background-color: #d1c9c9 !important;
}

.popover {
    max-width: 800px;
    width: auto;
}

.fg-nonactive-cell {
    color: red;
}

.popover-title {
    background-color: #3a87ad;
    color: white;
    font-weight: bold;
}

.back-button {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    line-height: 40px;
    background-image: url('images/arrow.left.png') /*images/arrow.left.png*/;
    background-position: center center;
}

    .back-button:hover {
        background-color: #eaeaea;
    }

.stations-filter-checkbox-onRight {
    padding-right: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.stations-filter-checkbox {
    padding-right: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.stations-filter-items-page {
    width: 100px !important;
    padding-right: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.stations-filter-items-lbl-page {
    padding-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.station-selected-row {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.station-status-ok {
    color: #449d44;
    font-size: 1.1em;
    font-weight: 800;
}

.station-status-alert {
    color: #f2c83d;
    font-size: 1.1em;
    font-weight: 800;
}

.station-status-error {
    color: #d9534f;
    font-size: 1.1em;
    font-weight: 800;
}

.modal-red-header {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
}

.modal-warning-header {
    background-color: #f2c83d;
    color: white;
    font-weight: bold;
}

.modal-error-header {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
}

.modal-blue-header {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
}

.modal-green-header {
    background-color: #449d44;
    color: white;
    font-weight: bold;
}


/*Posybe Enterprice Management*/

/*Price Editing*/

.price-Cell-Old {
    padding: 2px 4px;
    width: 140px;
    height: 25px;
    background-color: #ededed;
}

.price-Cell-New {
    padding: 2px 4px;
    width: 140px;
    height: 25px;
}

.price-Cell-New-Edit {
    padding: 2px 4px;
    width: 200px;
    height: 25px;
}

.price-Cell-Strike-Red {
    text-decoration: line-through;
    color: red;
}

.price-Cell-gray {
    background-color: #ededed;
}

.price-Cell-status {
    margin-left: 10px;
}

.price-Cell-Button {
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.price-Cell-Border-Red {
    border: 2px solid red !important;
    text-decoration: line-through;
    color: red;
}

.price-Cell-Border-Red-NonStrike {
    border: 2px solid red !important;
    color: red;
}

.price-Cell-Border-Green {
    border: 2px solid green !important;
    color: green;
}

.price-Cell-Border-None {
    border: 1px solid white !important;
    padding-left: 5px;
}

.price-Cell-Border-None-3 {
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    padding-left: 5px;
}


input.temp-vin {
    width: 150px;
    text-align: right;
}

input.temp-tin {
    width: 150px;
    text-align: right;
    padding-left: 2px;
}

.price-input-Border-Red {
    border: 2px solid red !important;
}

.priceCz-table-header {
    background-color: #e6f7ff;
}

.priceCz-table-header-error {
    color: red;
    font-weight: bolder;
    background-color: #e6f7ff;
}

.priceCz-price-green {
    color: green;
}

.priceCz-price-red {
    color: red;
}

.price-Message-In-Cell-Border-None {
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.price-validation-message {
    color: red;
    font-weight: bold;
    background-color: #F2DEDE;
    padding: 5px 0 5px 10px;
    margin: 0;
}

.price-resolve-status-ok {
    color: #449d44;
    font-size: 1.2em;
    font-weight: 800;
    margin-right: 15px;
    margin-top: 6px;
}

/*Emails*/
.email-Cell-Border-None {
    border: 1px solid white !important;
    width: 50px;
    padding-right: 0 !important;
}

.email-Cell-Old {
    background-color: #ededed;
}

.email-Input-Border-None {
    border: 1px solid white !important;
    padding-left: 5px;
    width: 100%;
    max-width: 100%;
}

.user-Cell-Border-None {
    border: 1px solid white !important;
    width: 50px;
    padding-right: 0 !important;
}

.user-Cell-Old {
    background-color: #ededed;
}

.user-Cell-Actual {
    background-color: #fbf7da;
}

.user-Input-Border-None {
    border: 1px solid white !important;
    padding-left: 5px;
    width: 100%;
    max-width: 100%;
    height: 30px;
    max-height: 100%;
    font-size: 13px;
}

.user-Input-Border-Chexbox-None {
    border: 1px solid white !important;
    padding-left: 5px;
    width: 100%;
    max-width: 100%;
    height: 15px;
    max-height: 100%;
}

.user-Cell-Border-Red {
    border: 2px solid red !important;
}

.table-users-hover tr:hover {
    background: #337ab7 !important;
    color: white !important;
}

.outer-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

.table-header-bold {
    font-weight: bolder;
}

.user-input-validate-red-border {
    border: 2px solid red !important;
}

/*Competitors*/

.competitor-edit-text-red {
    color: red;
    font-weight: bold;
}

.competitor-edit-text-green {
    color: green;
    font-weight: bold;
}

.competitor-edit-text-black {
    color: black;
    font-weight: bold;
}

.competitor-edit-name-bold-center {
    font-weight: bold;
    vertical-align: middle !important;
}

.competitor-table-header {
    background-color: #e6f7ff;
}

.competitor-price-input-error {
    color: red;
    font-weight: bold;
    border: 2px solid red !important;
}

.competitor-validation-message {
    color: red;
    font-weight: bold;
    background-color: #F2DEDE;
    padding: 5px;
}

/* CPHOSTool  */
.report-title-margin {
    margin-left: 20px;
    margin-bottom: 20px;
}

.report-cell-width {
    max-width: 300px;
    width: 160px;
}

.report-Cell-Border-None {
    border: 1px solid white !important;
    width: 50px;
    padding-right: 0 !important;
    background-color: white !important;
}

.report-margin-right-controlls {
    margin-right: 105px;
}

.report-cell-succes {
    background-color: #dcf8dc !important;
}

.report-cell-warning {
    background-color: #f7d8b3 !important;
}

.report-cell-error {
    background-color: #fb9a93 !important;
}

/*Custom color for text placeholder ... Cross-browser solution:*/

::-webkit-input-placeholder {
    color: #999999;
}

::-moz-placeholder {
    color: #999999;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #999999;
}
/* ie */
input:-moz-placeholder {
    color: #999999;
}


/*prever a daj prec*/
.inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Applications Icons */
.applications-container {
    margin: auto;
    position: absolute;
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
}

.applications-container-outer {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

.applications-container-inner {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding: 60px 0 0 0;
}

.applications-container .application {
    display: inline-table;
    padding: 10px;
    width: 150px;
    min-height: 130px;
    margin: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
}

    .applications-container .application .application-icon {
        text-align: center;
        margin: 10px auto;
        font-size: 24px;
    }

    .applications-container .application .application-title {
        font-size: 18px;
        text-align: center;
        margin: 0;
    }

.application.fuel-prices {
    background: #5cb85c;
}

    .application.fuel-prices:hover {
        background: #449d44;
    }

.application.shop-prices {
    background: #337ab7;
}

    .application.shop-prices:hover {
        background: #286090;
    }

.application.assortment {
    background: #4c5a9f;
}

    .application.assortment:hover {
        background: #4c8a9f;
    }

.application.competitor_managment {
    background: #2d508f;
}

    .application.competitor_managment:hover {
        background: #286090;
    }

.application.export-xls {
    background: #337ab7;
}

    .application.export-xls:hover {
        background: #286090;
    }

.application.managment-fs {
    background: #20639c;
}

    .application.managment-fs:hover {
        background: #337ab7;
    }

.application.emails {
    background: #f0ad4e;
}

    .application.emails:hover {
        background: #ec971f;
    }

.application.admin {
    background: #d9534f;
}

    .application.admin:hover {
        background: #c9302c;
    }

.application.edi {
    background: #337ab7;
}

    .application.edi:hover {
        background: #286090;
    }

.application.edi-partners {
    background: #20639c;
}

    .application.edi-partners:hover {
        background: #337ab7;
    }

.application.edi-relations {
    background: #2d508f;
}

    .application.edi-relations:hover {
        background: #286090;
    }

.application.discount-expiring {
    background: #337ab7;
}

    .application.discount-expiring:hover {
        background: #286090;
    }

.application.utils-compare {
    background: #5cb85c;
}

    .application.utils-compare:hover {
        background: #449d44;
    }

@media only screen and (max-width: 768px) {
    .applications-container-inner {
        padding-top: 160px;
        padding-bottom: 100px;
    }

    .applications-container .application {
        width: 100%;
    }
}

/* Applications container 2 - 3 */
.appsContainer {
    overflow: auto;
    margin: 20px auto !important;
    max-width: 1400px;
}

.appContainer {
    margin: 20px 40px;
    max-width: 640px;
    border: 1px solid #c1c1c1;
    float: left;
}

    .appContainer .appsGroup {
        margin: 10px !important;
    }

    .appContainer .appContainerTitle {
        margin: 10px;
        background: #f8f8f8;
        color: #666666;
        font-size: 16px;
        /*font-family: 'Segoe UI Light';*/
        border-bottom: 1px #c1c1c1 solid;
        -moz-border-radius: 7px 7px 0 0;
        -webkit-border-radius: 7px 7px 0 0;
        border-radius: 7px 7px 0 0;
    }

    .appContainer .application {
        display: inline-table;
        padding: 10px;
        width: 130px;
        height: 110px;
        min-height: 110px;
        margin: 10px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        text-decoration: none;
        color: white;
    }

        .appContainer .application .application-icon {
            text-align: center;
            margin: 10px auto;
            font-size: 22px;
        }

        .appContainer .application .application-title {
            font-size: 14px;
            text-align: center;
            margin: 0;
        }

    .appContainer.PriceLists .appContainerTitle {
        background-color: #f8f8f8;
    }

    .appContainer.CompetitorsMonitoring .appContainerTitle {
        background-color: #f8f8f8;
    }

    .appContainer.noHeader {
        border: none;
    }

        .appContainer.noHeader .appContainerTitle {
            background: none;
            /*border: none;*/
            padding: 0 20px;
            margin: 0;
            font-size: 24px;
        }

.pagination.fixed-width li a {
    min-width: 50px !important;
    text-align: center !important;
}

.table-cell-separator {
    width: 2px !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #999 !important;
}

/* CUSTOM BUTTON */
.maxWidthButton {
    max-width: 100%;
}
