@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization
@model Datapac.Posybe.EnterpriseManagement.Web.ViewModels.CustomErrorMessageViewModel

<div class="row" style="margin-top:300px">
    <div class="col-sm-8 col-lg-offset-2 ">
        <h2>@LangHelper.GetLocString(Model.TittleLocKey)</h2>
        <h3>@LangHelper.GetLocString(Model.MessageLocKey)</h3>
    </div>
</div>
