@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization

<div class="row" style="margin-top:300px">
    <div class="col-sm-6 col-lg-offset-3 ">

        <h2>@Langs.msg_LoginExpired</h2>
        <h3>@Langs.msg_LoginAgain</h3>

        <div class="pull-left" style="padding-top:20px;">
            <a type="button" href="@Url.Action("Login", "Home", new { area = "Admin" })" class = "btn-lg btn-primary"> @Langs.Login </a>
        </div>
    </div>
</div>
