@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization

<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0">
    <div class="navbar-header col-sm-5" style="padding-left:0;">
        <a href='@Datapac.Posybe.EnterpriseManagement.Asrt.Web.Properties.Settings.Default.PemLauncherUrl' class="navbar-brand">@LangHelper.GetLocString("MainApp")</a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">

        @Html.Partial("_Langs")

        @*  Login    *@
        <div class="navbar-form navbar-right">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </div>
</nav>