@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization

<div class="row" style="margin-top:300px">
    <div class="col-sm-8 col-lg-offset-2 ">

        <h2>@Langs.ErrorAuthorize</h2>
        <h3>@Langs.NoRights</h3>

    </div>
</div>